---
import { readAll } from "../lib/read";
import { blog } from "../lib/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";

const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort((a, b) => b.frontmatter.date.valueOf() - a.frontmatter.date.valueOf());
---

<PageLayout>
  <section>
    <ul>
      {
        sortedPosts.map((post) => {
          const formattedDate = post.frontmatter.date.toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <li class="post">
              <a class="unset link" href={`/blog/${post.slug}`}>
                {post.frontmatter.title}
              </a>
              <div class="date">
                <time datetime={post.frontmatter.date.toISOString()}>{formattedDate}</time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>

<style is:inline>
  .post {
    margin-bottom: 0.75em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr auto;
  }

  .post > .link {
    text-decoration: none;
  }

  .post > .date {
    color: var(--text-muted);
    font-size: 0.875em;
    font-style: italic;
  }
</style>
