---
import { readAll } from "../lib/read";
import { blog } from "../lib/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";

const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort((a, b) => b.frontmatter.date.valueOf() - a.frontmatter.date.valueOf());
---

<PageLayout>
  <PageMeta title="Blog" slot="meta" />
  <section slot="main">
    <ul>
      {
        sortedPosts.map((post) => {
          const formattedDate = post.frontmatter.date.toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <li class="mb-3 grid grid-cols-[1fr] md:grid-cols-[1fr_auto]">
              <div class="title">
                <a href={`/blog/${post.slug}`} class="unset hover:text-text-link">
                  {post.frontmatter.title}
                </a>
              </div>
              <div class="text-text-muted text-sm italic">
                <time datetime={post.frontmatter.date.toISOString()}>{formattedDate}</time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
