---
import PageLayout from "../layouts/PageLayout.astro";
import Image from "../components/Image.astro";
---

<PageLayout>
  <section>
    <h1>Fraser Muir</h1>
    <h2>Web Developer. OSS Wizard. Blogger.</h2>
    <div class="intro-header">
      <Image src="./images/profile.png" width="6rem" aspectRatio="32/43" alt="profile image" />
      <p>
        Hello! This is a starter template to build your own blog with
        <a href="https://github.com/flexdinesh/blogster" target="_blank">Blogster</a>. Available in four themes
        <a href="https://blogster-minimal.netlify.app" target="_blank">minimal</a>,
        <a href="https://blogster-sleek.netlify.app" target="_blank">sleek</a>,
        <a href="https://blogster-newspaper.netlify.app" target="_blank">newspaper</a> and
        <a href="https://blogster-bubblegum.netlify.app" target="_blank">bubblegum</a>. This blog is a demo for <strong>sleek</strong> theme.
        Get started with one simple command.
      </p>
    </div>
    <div class="code-center">
      <code>npx create-blogster@latest --theme sleek</code>
    </div>
  </section>
  <div>
    <p>Here are a few reasons why you will love this template:</p>
    <ul style={{ marginTop: "1rem" }}>
      <li>
        <strong>Sleek.</strong>
        A beautiful <a href="https://astro.build" target="_blank">Astro</a> theme built with <a href="https://tailwindcss.com">Tailwind</a>.
      </li>
      <li>
        <strong>Fast.</strong>
        Fast by default. Blogster templates are engineered to be performant and load before you could blink, even when not cached.
      </li>
      <li>
        <strong>Dark mode.</strong> Auto dark mode with a manual toggle. Hit that toggle button at the top of the page and see the mode change.
      </li>
      <li>
        <strong>Mobile first.</strong> Responsive and loads fast in all devices.
      </li>
      <li>
        <strong>Accessible.</strong> A well thought out semantic and accessible content.
      </li>
      <li>
        <strong>Perfect lighthouse score.</strong> 100 across the board.
      </li>
      <li>
        <strong>Content authoring for everyone.</strong> Author content using markdown (<code>.md</code>) from your code editor or directly
        in GitHub.
      </li>
      <li>
        <span>
          <strong>Extended markdown</strong> with
          <a href="https://markdoc.dev">Markdoc</a>.
        </span>
        <span>
          Type-safe custom components like YouTube embed, Twitter embed (or anything you want really) in your markdown (<code>.md</code>)
          files.</span
        >
      </li>
      <li>
        Built-in <strong>RSS feed</strong> for you blog, excellent<strong> SEO</strong> and more.
      </li>
    </ul>
  </div>
</PageLayout>

<style is:inline>
  h1 {
    color: var(--accent-color);
    font-size: 3.75em;
    font-weight: 800;
    margin: 0;
    line-height: 1;
  }

  h2 {
    margin-bottom: 1.5em;
    font-size: 1.5em;
    font-weight: normal;
  }

  .intro-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    margin: 0 auto;
    padding: 0 1em;
    gap: 1.5rem;
  }

  .code-center {
    width: fit-content;
    margin: 0 auto 1.25rem auto;
  }

  code {
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    padding: 0.25rem 0.5em;
  }
</style>
