<button id="mode-toggle" role="switch" type="button" tabindex="0">
  <span id="mode-circle"></span>
</button>

<script is:inline>
  const toggle = document.querySelector("#mode-toggle");
  const circle = document.querySelector("#mode-circle");
  toggle.addEventListener("click", () => {
    circle.style.transitionDuration = "0.3s";
    const classes = document.documentElement.classList;
    const add = classes.contains("dark") ? "light" : "dark";
    const remove = classes.contains("dark") ? "dark" : "light";
    classes.remove(remove);
    classes.add(add);
    localStorage.setItem("theme", add);
  });
</script>

<style is:inline>
  #mode-toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    height: 1.5rem;
    width: 3rem;
    align-items: center;
    border-radius: 1rem;
    border: none;
    background-color: var(--page-accent-color);
    padding: 0.25rem;
  }

  #mode-toggle > #mode-circle {
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--accent-color);
    transform: translateX(0);
  }

  .dark #mode-toggle > #mode-circle {
    transform: translateX(1.5rem);
  }
</style>
