<button id="mode-toggle" role="switch" type="button" tabindex="0">
  <span id="mode-circle"></span>
</button>

<script>
  const toggle = document.querySelector("#mode-toggle") as HTMLButtonElement;
  const circle = document.querySelector("#mode-circle") as HTMLSpanElement;
  toggle.addEventListener("click", () => {
    circle.style.transitionDuration = "0.3s";
    const classes = document.documentElement.classList;
    const add = classes.contains("dark") ? "light" : "dark";
    const remove = classes.contains("dark") ? "dark" : "light";
    classes.remove(remove);
    classes.add(add);
    localStorage.setItem("theme", add);
  });
</script>

<style is:inline>
  #mode-toggle {
    position: relative;
    display: flex;
    height: 1.5rem;
    width: 2.75rem;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--page-accent);
    padding: 0.25rem;
  }

  #mode-toggle > #mode-circle {
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--page-accent);
  }

  #mode-toggle > #mode-circle.dark {
    transform: translateX(1.25rem);
  }
</style>
