<button id="mode-toggle" role="switch" type="button" aria-checked="false" aria-label="Theme toggle" tabindex="0">
  <span id="mode-circle"></span>
</button>

<script is:inline>
  const toggle = document.querySelector("#mode-toggle");
  const circle = document.querySelector("#mode-circle");
  const classes = document.documentElement.classList;
  const isDark = () => classes.contains("dark");
  toggle.setAttribute("aria-checked", isDark());
  toggle.addEventListener("click", () => {
    circle.style.transitionDuration = "0.3s";
    const add = isDark() ? "light" : "dark";
    const remove = isDark() ? "dark" : "light";
    classes.remove(remove);
    classes.add(add);
    toggle.setAttribute("aria-checked", isDark());
    localStorage.setItem("theme", add);
    document
      .querySelector('meta[name="theme-color"]')
      .setAttribute("content", getComputedStyle(document.body).getPropertyValue("--page-color"));
  });
</script>

<style is:inline>
  #mode-toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    height: 1.75em;
    width: 3.5em;
    align-items: center;
    border-radius: 1em;
    border: none;
    background-color: var(--page-accent-color);
    padding: 0.3em;
  }

  #mode-toggle > #mode-circle {
    position: absolute;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    background-color: var(--accent-color);
    transform: translateX(0);
  }

  .dark #mode-toggle > #mode-circle {
    transform: translateX(1.75em);
  }
</style>
