---
import DarkModeToggle from "./DarkModeToggle.astro";

const links = [
  { href: "/", label: "Home" },
  { href: "/blog", label: "Blog" },
];

const currentPath = Astro.url.pathname;
const activePathIndex = links.length - [...links].reverse().findIndex((link) => currentPath.startsWith(link.href)) - 1;
---

<header>
  <a class="skip-content unset" href="#main">Skip to content</a>
  <nav>
    <ul class="unset nav-items">
      {
        links.map((link, i) => (
          <li>
            <a class={`unset animated-link ${i === activePathIndex ? "show" : ""}`} href={link.href}>
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <a class="social-icon" href="https://github.com" aria-label="link to GitHub">
    <svg viewBox="0 0 98 96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
      ><path
        d="M49 0A49 49 0 0 0 0 49a49 49 0 0 0 33 47c3 0 4-1 4-2v-9c-14 3-17-6-17-6-2-6-5-8-5-8-5-3 0-3 0-3 5 1 8 5 8 5 4 8 11 6 14 5 0-4 2-6 3-7-11-1-22-5-22-24 0-6 2-10 5-14-1-1-2-6 0-13 0 0 4-1 14 5a47 47 0 0 1 12-1 47 47 0 0 1 12 1c9-6 14-5 14-5 2 7 1 12 0 13 3 4 5 8 5 14 0 19-11 23-22 24 2 1 3 4 3 9v13c0 2 1 3 3 3a49 49 0 0 0 34-47A49 49 0 0 0 49 0z"
      ></path>
    </svg>
  </a>
  <a class="social-icon" href="https://twitter.com" aria-label="link to Twitter">
    <svg viewBox="0 0 248 204" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
      ><path
        d="M222 51v7c0 67-51 144-144 144a143 143 0 0 1-77-23l12 1c23 0 45-8 63-22-22-1-41-15-47-35 7 1 15 1 22-1-23-5-40-25-40-49v-1a50 50 0 0 0 23 6 51 51 0 0 1-16-67c26 31 64 50 104 53a51 51 0 0 1 86-46c11-3 22-7 32-13-4 12-12 22-22 28 10-1 20-4 29-8-7 10-15 19-25 26z"
      ></path>
    </svg>
  </a>
  <DarkModeToggle />
</header>

<style is:inline>
  header {
    display: flex;
    height: 6em;
    align-items: center;
    gap: 1em;
  }

  header > .skip-content {
    position: absolute;
    top: 1.5em;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -300%);
    background-color: var(--icon-color);
    padding: 0.5rem 2em;
    color: var(--page-color);
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
  }

  header > .skip-content:focus {
    transform: translate(-50%, 0%);
  }

  nav {
    flex: 1;
  }

  nav > .nav-items {
    display: flex;
    gap: 1em;
    color: var(--heading-color);
  }

  .social-icon {
    display: flex;
  }

  .social-icon > svg {
    height: 1.75em;
    width: 1.75em;
    fill: var(--icon-color);
  }

  .social-icon:hover > svg {
    fill: var(--accent-color);
  }
</style>
