---
---

<section class="mb-8">
  <div class="mb-4">
    <h1 class="overflow-hidden pt-4 pb-2 text-5xl font-extrabold tracking-tight md:text-6xl">
      <span
        class="bg-gradient-to-br from-primary-400 via-primary-500 to-primary-600 bg-clip-text text-transparent dark:from-primary-main dark:via-primary-main dark:to-primary-main"
      >
        Captain Awesome
      </span>
    </h1>
    <p class="pb-4 text-2xl">Web Developer. OSS Wizard. Blogger.</p>
  </div>
  <div>
    <p class="mb-5">
      Hello! This is a starter template to build your own blog with
      <a href={"https://github.com/flexdinesh/blogster"} target="_blank">Blogster</a>. Available in four themes
      <a href={"https://blogster-minimal.netlify.app"} target="_blank">minimal</a>,
      <a href={"https://blogster-sleek.netlify.app"} target="_blank">sleek</a>,
      <a href={"https://blogster-newspaper.netlify.app"} target="_blank">newspaper</a> and
      <a href={"https://blogster-bubblegum.netlify.app"} target="_blank">bubblegum</a>. This blog is a demo for <strong>sleek</strong> theme.
      Get started with one simple command.
    </p>
    <p class="overflow-auto whitespace-nowrap text-center">
      <code class="py-1 px-2">npx create-blogster@latest --theme sleek</code>
    </p>
  </div>
</section>
