---
---

<section class="mb-8">
  <h1 class="black:text-yellow-400 mb-2 text-6xl font-extrabold text-accent">Captain Awesome</h1>
  <p class="mb-6 text-3xl">Web Developer. OSS Wizard. Blogger.</p>
  <p class="mb-5">Hello! This is a starter template to build your own blog with stuff!</p>
  <p class="overflow-x-auto whitespace-nowrap text-center">
    <code class="py-1 px-2">npx create-blogster@latest --theme sleek</code>
  </p>
</section>
