---
---

<section>
  <h1>Captain Awesome</h1>
  <h2>Web Developer. OSS Wizard. Blogger.</h2>
  <p>Hello! This is a starter template to build your own blog with stuff!</p>
  <code>npx create-blogster@latest --theme sleek</code>
</section>

<style is:inline>
  section {
    margin-bottom: 2rem;
  }

  h1 {
    color: var(--color-accent);
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
  }

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.875rem;
  }

  p {
    margin-bottom: 1.35rem;
  }

  code {
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    padding: 0.25rem 0.5rem;
  }
</style>
