---
type Props = {
  url: string;
};

const { url } = Astro.props;
---

<div class="twitter">
  <blockquote class="twitter-tweet" data-conversation="none" data-lang="en" data-dnt="true">
    <a class="unset" href={url}>Loading embedded tweet...</a>
  </blockquote>
</div>

<script>
  const tweet = document.querySelector(".twitter-tweet") as HTMLElement;
  tweet.dataset.theme = document.documentElement.classList.contains("dark") ? "dark" : "light";
</script>

<script async defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<style>
  .twitter {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .twitter-tweet a {
    position: absolute;
    top: 0;
    left: 0;
  }
</style>
