---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PageMeta from "./PageMeta.astro";

export interface Props {
  title: string;
  date: Date;
}

const { title, date } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("en-uk", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <PageMeta />
  </head>

  <body>
    <Header />
    <main id="main">
      <section class="post">
        <h1 class="title">{title}</h1>
        <time class="time">{formattedDate}</time>
        <slot />
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  .post > .time {
    color: var(--text-muted);
    margin-bottom: 2em;
  }
</style>
