---
interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<title>{title}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="title" content={title} />
{description && <meta name="description" content={description} />}

<script is:inline>
  if (localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.add("light");
  }
</script>