---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PageMeta from "./PageMeta.astro";
import "../global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <PageMeta />
  </head>

  <body>
    <Header />
    <main id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
