---
import "../styles/theme.css";
import "../styles/global.css";

import ThemeScript from "./ThemeScript.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html class="theme-sleek" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Blogster" />
    <slot name="meta" />
    <ThemeScript />
  </head>

  <body class="mx-auto min-h-screen max-w-3xl bg-bg-body px-6 text-text-body sm:px-8">
    <Header />
    <main id="main">
      <slot name="main" />
    </main>
    <Footer />
    <style>
      body {
        display: grid;
        grid-template-areas:
          "header"
          "main"
          "footer";
        grid-template-rows: 5rem minmax(0, 1fr) 5rem;
        grid-template-columns: minmax(0, 1fr);
      }
      main {
        grid-area: main;
      }
    </style>
  </body>
</html>
